#skills {
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}
.skills_content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    

    grid-template-areas: 
    "a  b"
    "a  c";
}
    .skills_coding {
        grid-area: a;
        padding: 1rem;
        background-color: var(--color-primary-variant);
    }
    .skills_tools {
        grid-area: b;
        padding: 1rem;
        
        background-color: var(--color-primary-variant);
        filter: brightness(160%);
        

    }
    .skills_etc {
        grid-area: c;
        padding: 1rem;
        background-color: var(--color-primary-variant);
        filter: brightness(120%)
    }

    .skills_bar {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 0.5rem;
    }
        .bar_text {
            display: flex;
            justify-content: space-between;
        }
        .bar_bg {
            width: 100%;
            height: 3px;
            background-color: rgb(48, 47, 47);
        }
            .bar_value {
                height: 3px;
                background-color: var(--color-accent);
            }
    .skills_title {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        font-size: 1.5rem;

    }       
        .bar_text_03 {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 1rem;
        }